# How to use cron:
# *   *    *   *     *       command to be executed
# min hour day month weekday command
#
# Example hello.sh to be executed every 5 minutes
# */5 * * * * ./scripts/hello.sh
#
# Example hello.sh to be executed every 1 hour each 2 days on October
# 0 1 */2 10 * ./scripts/hello.sh
#
# Default directory is /shared/
#
##############################################
*/1 * * * * sh ./scripts/hello.sh
